<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Shopping Cart</h1>

  <h3>Node.js and Express book</h3>
  <p>Price: R$ 50.00</p>
  <p>Quantity: 1</p>

  <form action="/checkout" method="post">
    <input type="submit" value="Proceed to checkout">
  </form>

  <h1>Plans</h1>
  <h3>Starter</h3>
  <p><b>R$ 20/month</b></p>
  <a href="/subscribe?plan=starter">Subscribe</a>

  <br><br><br>

  <h3>Pro</h3>
  <p><b>R$ 40/month</b></p>
  <a href="/subscribe?plan=pro">Subscribe</a>

</body>
</html> 